<% layout('/layouts/boilerplate.ejs') -%>
<div class="row mt-4 mb-4">
  <div class="col-8 offset-2">
    <h3 class="col-4 offset-4">Edit Listing</h3>
    <br>
    <form method="POST" action="/listings/<%=  listing._id %>?_method=PUT" noValidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Enter Title"
          class="form-control"
          value="<%= listing.title %>"
          required
        />
        <div class="valid-feedback">Title Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Write your Description here"
          class="form-control"
          required
        >
        <%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Original image</label><br>
        <img src="<%= originalImageUrl %>" alt="image" style="height: 100px; width: 150px;">
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            placeholder="Enter Price"
            value="<%= listing.price %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="title" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="Enter Country"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="Enter Location"
          value="<%= listing.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <button class="btn btn-dark add-btn mt-3">Edit</button>
    </form>
  </div>
</div>
